body{
  overscroll-behavior-y: none;
}
.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.progress-bar{
  position: sticky;
  top: 0%;
  height: 8px;
  width: 0%;
  background:linear-gradient(to right ,yellow, orange,red);
  transition: width 0.1s ease-out;
  border-radius: 0px 5px 5px 0px;
}
.back-top {
  background-color: cornflowerblue;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}